* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: 1px solid red; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

}

.right-panel {
  border: 1px solid red;
  width: 300px;
  height: 500px;
}

.displayContainer {
  border: 1px solid blue;
  /* width: 400px;
  height: 300px; */
  grid-column: 3/11;
  grid-row: 3/9;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.displayContainer>* {
  /* border: 1px solid red; */
  /* margin-top: 1rem; */
}

.pokemonName {
  /* border: 1px solid red; */
  /* margin-top: 1rem; */
  font-size: 2rem;
}

.statsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statsContainer>* {
  border: 1px solid black;
  flex-grow: 1;

}


.pokemonSearch {
  margin-top: 1rem;
  /* border: 1px solid red; */
  /* grid-column: ; */
  grid-row: 9/10;
  grid-column: 4/10;
  display: flex;
  justify-content: center;
  align-items: start;
}

.pokemonSearchBtn {
  /* border: 1px solid red; */
  grid-column: 4/6;
  grid-row: 10/11
}

.imageContainer img {
  /* border: 1px solid red; */
  height: 150px;
  width: 150px;
}

.ability-section,.physical-section,.types-section {
  display: flex;
}

.ability-section>* {
  border: 1px solid black;
  flex: auto;
  text-align: center;
}

.physical-section>* {
  border: 1px solid black;
  flex: auto;
  text-align: center;
}

.types-section >*{
  border: 1px solid black;
  flex: auto;
  text-align: center;
}

.hide {
  display:none
}